<script type="text/javascript">
function addTextField() 
{
	var id = $('#Inputs #myTable tr').size();
	$("#myTable").append("<tr id='row" + id + "'><th align = 'left' width = '80'>" 
		+ id + "</th><th align = 'left' width = '300'><input class = 'field' type='text' name='guest[name]" 
		+ "'></input></th><th align = 'left' width = '300'><input class = 'field' type='text' name='guest[personal_id_number]" 
		+ "'></input></th><a href='#' onClick='removeTextField(" + id + "); return false;'>Remove</a></tr>");
}
function removeTextField(id)
{
	
	$("#row" + id).remove();
	
	
	$('#Inputs #myTable tr').each(function(index)
	{
		if(index >= $(this).index() && index >= 1)
		{
			$(this).children().eq(0).html(index);
		}
	});

}
</script>

<%= form_for(@guest) do |f| %>
	  <% if @guest.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h2>
	
	      <ul>
		      <% @guest.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		      <% end %>
	      </ul>
	    </div>
	  <% end %>
  
 <!-- 
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :personal_id_number %><br />
    <%= f.text_field :personal_id_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
-->  


<div id="Inputs" class = "field">
<table id = "myTable">
  <tr>
  <th align = 'left' width = '80'>No.</th><th align = 'left' width = '300'>Guest Name</th><th align = 'left' width = '300'>Personal ID Number</th>
  </tr>
</table>
</div>
<p>
<a href="#" onClick="addTextField(); return false;">Add</a></p>
<div class = 'actions'>
<input type = 'submit'></input>
</div>
</p>


<% end %>

