<%= form_for(@rate_plan) do |f| %>
  <% if @rate_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rate_plan.errors.count, "error") %> prohibited this rate_plan from being saved:</h2>

      <ul>
      <% @rate_plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room_type_id %><br />
    <%= f.collection_select :room_type_id, RoomType.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :rate_card_id %><br />
    <%= f.collection_select :rate_card_id, RateCard.all, :id, :tariff_name %>
  </div>
  
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date, :default => {:hour => 00, :minute => 00}  %>
  </div>
  
  <div class="field">
    <%= f.label :expiry_date %><br />
    <%= f.datetime_select :expiry_date, :include_blank => true, :default => nil %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
